/.phpunit.cache
/public/build
/public/hot
/node_modules
/public/storage
/public/audio
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
composer.lock
# composer.json
package-lock.json
database.php
public/images/*
vapor.yml
production.Dockerfile
staging.Dockerfile
.DS_STORE